
body {
  font-family: 'Work Sans', 'Roboto',  Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

// Main Colors
$primary:     #1F4F85;
$secondary:   #348CEF;
$board:       #F8F8F8;
$black:       #040404;

// Extended Primary
$primary-1:   #83A2C5;
$primary-2:   #1F4F85;
$primary-3:   #032D5C;

// Extended Secondary
$secondary-1: #D6E8FB;
$secondary-2: #348CEF;
$secondary-3: #0263DE;

// Neutrals
$white:       #FFFFFF;
$neutral-1:   #F8F8F8;
$neutral-2:   #E6E6E6;
$neutral-3:   #B3B3B3;
$neutral-4:   #7D7D7D;
$neutral-5:   #4D4D4D;
$neutral-6:   #040404;

// Alerts
$alert-1:     #E74C3C;
$alert-2:     #D93120;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======

/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Work Sans', 'Roboto',  Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

// Main Colors
$primary:     #1F4F85;
$secondary:   #348CEF;
$board:       #F8F8F8;
$black:       #040404;

// Extended Primary
$primary-1:   #83A2C5;
$primary-2:   #1F4F85;
$primary-3:   #032D5C;

// Extended Secondary
$secondary-1: #D6E8FB;
$secondary-2: #348CEF;
$secondary-3: #0263DE;

// Neutrals
$white:       #FFFFFF;
$neutral-1:   #F8F8F8;
$neutral-2:   #E6E6E6;
$neutral-3:   #B3B3B3;
$neutral-4:   #7D7D7D;
$neutral-5:   #4D4D4D;
$neutral-6:   #040404;

// Alerts
$alert-1:     #E74C3C;
$alert-2:     #D93120;

