/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

body, html {
  font-family: 'Work Sans', 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  color: #003366;
  margin-top: 2rem;
}

button {
  background-color: gray;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: none;
  margin-top: 0.5rem;
}
