<div class="container">
<div class="card">
  <a href="http://localhost:4200" class="back-home-btn">Back To Home</a>
  <h1>New Community Asset Information</h1>

  <nav>
    <span><strong>Parent/Children Asset</strong> ▶ Basic Information ▶ Location ▶ Contact ▶ Registration and Schedule</span>
  </nav>

  <p><strong>Before we start, please answer these two quick questions:</strong></p>

  <p>Is this a group or organisation that offers MORE THAN ONE service or program?</p>
  <div>
    <button [class.selected]="multiplePrograms === true" (click)="multiplePrograms = true">Yes, multiple</button>
    <button [class.selected]="multiplePrograms === false" (click)="multiplePrograms = false">No, only one</button>
  </div>

  <p>Does this group or organisation have a Building or Office where people can go?</p>
  <div>
    <button [class.selected]="hasPhysicalLocation === true" (click)="hasPhysicalLocation = true">Yes, a physical location</button>
    <button [class.selected]="hasPhysicalLocation === false" (click)="hasPhysicalLocation = false">No, it’s online</button>
  </div>

  <div class="proceed-container">
  <button class="btn btn-primary" (click)="proceed()">Proceed →</button>
</div>
</div>
</div>