<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="assets/logo-en.svg" alt="Carlington Logo" class="logo">
    </div>

    <div class="navbar-nav">
      <a href="#" class="nav-link active" (click)="onNavigate('home'); $event.preventDefault()">Home</a>
      
      <ng-container *ngIf="!isLoggedIn">
        <a href="#" class="nav-link" (click)="onAddAsset(); $event.preventDefault()">Add New Asset</a>
        <a href="#" class="nav-link" (click)="onLogin(); $event.preventDefault()">Log In</a>
      </ng-container>
      
      <ng-container *ngIf="isLoggedIn">
        <a href="#" class="nav-link" (click)="onNavigate('dashboard'); $event.preventDefault()">Dashboard</a>
        <a href="#" class="nav-link logout-link" (click)="onLogout(); $event.preventDefault()">Log Out</a>
      </ng-container>
    </div>
  </div>
</nav>

<app-login-modal 
  [isOpen]="isLoginModalOpen"
  (closeModal)="onCloseLoginModal()"
  (loginSuccess)="onLoginSuccess($event)">
</app-login-modal>
