<footer class="footer">
    <p>
      ©2025
      <a class="footer-link" href="https://github.com/ikaihc/Community-Assets-Mapping" target="_blank">
        Community Assets Mapping
      </a>
      · Built By
      <span class="footer-author">
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Bingyao L.</a>,
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Ernest S.</a>,
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Janvier W.</a>,
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Sandrima S.</a>,
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Ziwei S.</a>,
        <a href="https://www.linkedin.com/in/ernest-san-luis/" target="_blank" class="footer-link">Zhuyu Y.</a>
      </span>
      · Idea By
      <a class="footer-link" href="https://carlingtonchc.com/" target="_blank">CCHC</a>
    </p>
  </footer>
  